<h1 class="sign-up-h1">Sign up!</h1>

<div class="sign-up">
  <%= form_for :user, url: '/users' do |f| %>
  <div class="col-sm-2 col-form-label">
    First Name: <%= f.text_field :first_name %>
  </div>
  <div class="col-sm-2 col-form-label">
    Last Name: <%= f.text_field :last_name %>
  </div>
  <div class="col-sm-2 col-form-label">
    Email: <%= f.text_field :email %>
  </div>
  <div class="col-sm-2 col-form-label">
    Password: <%= f.password_field :password %>
  </div>
  <div class="col-sm-2 col-form-label">
    Password Confirmation: <%= f.password_field :password_confirmation %>
  </div>
  <div class="col-sm-2 col-form-label">
    <%= f.submit "Submit", class:"btn btn-primary" %>
  </div>
    
  <% end %>
</div>